.hududblue {
    position: relative;
  }
  .blue {
    position: absolute;
    background: linear-gradient(168deg, #05096E 37.95%, #169DE8 96.46%);
    opacity: 0.8;
    /* border-radius: 0px 0px 500px 0px; */
    padding-bottom: 1px;
    /* height: 80em; */
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  