.rating_bg {
  background: linear-gradient(168deg, #05096e 37.95%, #169de8 96.46%);
  border-radius: 0px 0px 500px 0px;
  padding-bottom: 1px;
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    .rating_filter {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      h1 {
        font-size: 20px;
        color: white;
        font-weight: 500;
      }
      .filterBlok {
        display: flex;
        column-gap: 20px;
        select {
          max-width: 200px;
          height: 50px;
          padding: 10px 20px;
          color: white;
          background: #326695;
          font-weight: 400;
          font-size: 16px;
          width: min-content;
          outline: none;
          border-radius: 5px;
          appearance: none;
          option{
            &:nth-child(1){
              background: white;
              color: white !important;
            }
          }
        }
        button{
          max-width: 220px;
          height: 50px;
          padding: 10px 20px;
          color: white;
          background: green;
          font-weight: 400;
          font-size: 16px;
          display: flex;
          align-items: center;
          column-gap: 5px;
          outline: none;
          border-radius: 5px;
        }
      }
    }
    .content{
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        h1 {
            font-size: 20px;
            color: #1383d3;
            font-weight: 600;
            margin-bottom: 20px !important;
          }
        table{
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            thead{
                background-color: #dfdcdc;
                border-radius: 10px 10px 0px 0px;
                th{
                    &:nth-child(7){
                        padding-right: 10px;
                    }
                }
            }
            tbody{
                tr{
                    border-bottom: 1px solid #ccc;
                    td{
                        &:nth-child(7){
                            color: #1383d3;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .image{
                            width: 80px;
                            height: 80px;
                            border-radius: 5px;
                            img{
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            border-radius: 5px;

                            }
                        }
                    }
                }
            }
        }
    }
  }
}
